build
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
*.log

# archive
*.gz
*.zip
*.7z

venv
.vscode
.PVS-Studio
CMakeFiles
makefile
CMakeCache.txt 
cmake_install.cmake_install
cmake_install.cmake
